/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
/*	header start*/
.nbt{
	margin-left: 8px;
}
.btn_s{
	margin-left: 2px;
}
/*	header end*/
/*baner start*/
.banner{
	padding: 40px 0;
}
.b_text{
	text-align: center;
}

.b_h1{
	padding: 0;
	font-size: 30px;
	line-height: 53px;
}
.b_p1{
	padding: 0;
}
.btn_link{
	margin: 15px auto 0;
}
.b_img{
	padding-bottom: 50px ;
}
/*feature start*/
.ftr{
	margin-top: 24px;
}
.com_title{
	font-size: 16px;
}
.c_item{
	margin:30px 0 0 ;
	padding: 10px 10px 15px;
	}

cli:.list-inline-item:not(:last-child) {
    margin-right: 0;
}
.c_left ul li img,
.c_right ul li img{
	width: 18px;

}
.c_left ul li span,
.c_right ul li span{
	font-weight: 400;
}
.testimony {
    padding: 81px 0 50px;
}
.tes {
    padding: 50px 10px;
}
.tes_img {
    margin: 0 auto;
    width: 210px;
}
.tes_p{
	margin: 0;
	padding: 40px 0 23px;
	text-align: center;
}
.links_p {
    padding: 0 10px 30px;
    text-align: center;
}.lnk {
    padding: 45px 45px 0;
    text-align: center;
}


	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*	header start*/
.btn_s{
	margin-left: 6px;
}
/*baner start*/
.banner{
	padding: 35px 0;
}
.b_text{
	text-align: center;
}
.b_h1{
	font-size: 40px;
	padding: 0 65px 0;
	line-height: 60px;
}
.b_p1{
	padding: 0 43px 0;
	line-height: 30px;
}
.btn_link{
	margin: 15px auto 0;
}
.b_img {
    padding: 0px 50px 50px;
}
/*feature start*/
.ftr{
	margin-top: 24px;
}
.com_title{
	text-align: center;
}
.c_item{
	margin:30px 60px 0 ;
	padding: 20px 15px 25px;
	}

.testimony {
    padding: 81px 0 50px;
}
.tes {
    padding: 50px 10px;
}
.tes_img {
    margin: 0 auto;
    width: 210px;
}
.tes_p{
	margin: 0;
	padding: 40px 0 23px;
	text-align: center;
}
.lnk {
    padding: 0 28px;
}
.links_p {
    padding: 0 31px 30px;
    text-align: center;
}

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.btn_s{
	margin-left: 10px;
}
/*baner start*/
.banner{
	padding: 40px 0;
}
.b_text{
	text-align: center;
}
.b_h1{
	padding: 0 81px 0;
}
.b_p1{
	padding: 0 100px 0;
}
.b_img {
    padding: 0px 100px 50px;
}

.btn_link{
	margin: 15px auto 0;
}
/*feature start*/
.ftr{
	margin-top: 24px;
}
.com_title{
	text-align: center;
}
.c_item{
	margin:40px 100px 0 ;
	}
/*	testimony start*/
.tes {
    padding: 50px 57px;
}
.tes_p{
	padding: 0;
    margin-left: 48px;
}
.links{
	text-align: center;
}
.links_p{
	padding: 0 80px 30px;
}

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.c_item{
		padding: 24px 10px 30px;
	}
	cli:.list-inline-item:not(:last-child) {
    margin-right: 0;
}
	.c_left ul li img,
	.c_right ul li img{
		width: 18px;
	}
	.c_left ul li span,
	.c_right ul li span{
		font-weight: 400;
	 }
	 .tes {
    padding: 50px 0;
}
	 .tes_p{
	 	padding-left: 50px;
	 }
	 .links_p {
    padding-right: 40px;

}
.lnk {
    padding: 0 30px;
}
}

/* Extra Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
 }

/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) { 
	.b_h1{
		padding-right: 100px;
	}
	.b_p1{
	padding-right: 85px;
}
	
 }